@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%; }

body {
  min-height: 100%;
  width: 100%;
  color: white;
  font-family: "Raleway", sans-serif;
  background-color: black; }

nav ul, aside ul {
  list-style: none;
  padding-left: 0; }

/* LINK BASIC */
a {
  color: #555555;
  text-decoration: none; }
  a:hover:not(.button), a.active {
    color: #ea7559; }

/* paragraphe and title basic */
h1, h2, h3, h4, h5, h6 {
  font-family: "Poiret One", serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1; }

h1, .h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 1.875rem; }

.container {
  display: block; }

p {
  font-size: 1rem; }

.content p {
  line-height: 1.4;
  margin-bottom: 1.4em;
  margin-top: 1.4em; }
.content > *:first-child {
  margin-top: 0; }
.content > *:last-child {
  margin-bottom: 0; }

/* utilities class */
.text-center {
  text-align: center; }

.hide {
  display: none; }

.hidden {
  opacity: 0; }

/**
 * fullPage 2.6.6
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 * Contribution by Jhony0311
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none; }

.fp-section {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  width: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent; }
  .fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: scroll; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }
  .fp-slidesNav.bottom {
    bottom: 17px; }
  .fp-slidesNav.top {
    top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }
  #fp-nav ul li,
  .fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative; }
    #fp-nav ul li a,
    .fp-slidesNav ul li a {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none; }
      #fp-nav ul li a.active span,
      .fp-slidesNav ul li a.active span {
        height: 12px;
        width: 12px;
        margin: -6px 0 0 -6px;
        border-radius: 100%; }
        #fp-nav ul li:hover #fp-nav ul li a.active span, #fp-slidesNav ul li:hover #fp-nav ul li a.active span, #fp-nav ul li:hover
        .fp-slidesNav ul li a.active span, #fp-slidesNav ul li:hover
        .fp-slidesNav ul li a.active span {
          height: 12px;
          width: 12px;
          margin: -6px 0 0 -6px;
          border-radius: 100%; }
      #fp-nav ul li a span,
      .fp-slidesNav ul li a span {
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        height: 4px;
        width: 4px;
        border: 0;
        background: rgba(250, 250, 250, 0.6);
        left: 50%;
        top: 50%;
        margin: -2px 0 0 -2px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
    #fp-nav ul li:hover a span,
    .fp-slidesNav ul li:hover a span {
      width: 10px;
      height: 10px;
      margin: -5px 0px 0px -5px; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }
  #fp-nav.right {
    right: 17px; }
  #fp-nav.left {
    left: 17px; }
  #fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0; }
    #fp-nav ul li .fp-tooltip.right {
      right: 20px; }
  #fp-nav ul li:hover .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }
  #fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }

.fp-slidesNav ul li {
  display: inline-block; }

/* GENERAL BODY */
body {
  overflow-x: hidden !important; }

/* HEADER */
header.main {
  position: fixed;
  top: 0;
  z-index: 100; }
  header.main hgroup {
    display: none; }
  header.main nav {
    font-size: 1.125rem;
    width: 100vw;
    padding-right: 0.3125rem;
    padding-bottom: 1.25rem; }
    header.main nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
    header.main nav li a {
      display: inline-block;
      padding: 0 1.25rem;
      color: white;
      opacity: 0.6;
      white-space: nowrap;
      -moz-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s; }
      header.main nav li a:hover, header.main nav li a.active {
        color: white;
        opacity: 1; }
    header.main nav.main a:hover {
      color: white;
      opacity: 1; }
    header.main nav.chapitres, header.main nav.player-soundcloud {
      display: none;
      opacity: 0;
      position: absolute;
      top: 50px;
      padding-right: 0.9375rem; }
      header.main nav.chapitres ul, header.main nav.player-soundcloud ul {
        margin: 0.3125rem 0; }
      header.main nav.chapitres li, header.main nav.player-soundcloud li {
        max-width: 100%;
        overflow: hidden; }
        header.main nav.chapitres li a, header.main nav.player-soundcloud li a {
          padding: 0 0.625rem; }

.banner {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: relative;
  text-align: center; }
  .banner .viking {
    margin-bottom: 1.25rem; }
    .banner .viking img {
      max-width: 400px;
      width: 30vw;
      margin-top: -4.375rem; }
  .banner .page-title {
    position: relative;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 13px 0 10px;
    line-height: 1;
    display: inline-block;
    z-index: 1;
    border-bottom: 1px solid rgba(250, 250, 250, 0.8);
    margin-bottom: 0;
    margin-top: -0.3125rem; }
  .banner .page-description {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    z-index: 1;
    position: relative; }

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1.25rem; }
  @media (min-width: 768px) {
    .container {
      width: 45.625rem; } }
  @media (min-width: 992px) {
    .container {
      width: 59.375rem; } }
  @media (min-width: 1200px) {
    .container {
      width: 71.875rem; } }
  .container.closed .icon-cancel:before {
    content: "e"; }

.col-1 {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1; }

.col-2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2; }

.col-3 {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3; }

.col-4 {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4; }

.col-5 {
  -moz-column-count: 5;
  -webkit-column-count: 5;
  column-count: 5; }

.col-6 {
  -moz-column-count: 6;
  -webkit-column-count: 6;
  column-count: 6; }

.col-7 {
  -moz-column-count: 7;
  -webkit-column-count: 7;
  column-count: 7; }

.col-8 {
  -moz-column-count: 8;
  -webkit-column-count: 8;
  column-count: 8; }

.col-9 {
  -moz-column-count: 9;
  -webkit-column-count: 9;
  column-count: 9; }

.col-10 {
  -moz-column-count: 10;
  -webkit-column-count: 10;
  column-count: 10; }

.col-11 {
  -moz-column-count: 11;
  -webkit-column-count: 11;
  column-count: 11; }

.col-12 {
  -moz-column-count: 12;
  -webkit-column-count: 12;
  column-count: 12; }

.player p:first-child {
  margin: 0; }
.player .audioplayer {
  display: inline-block;
  text-align: center;
  padding: 0.625rem 1.25rem;
  line-height: 0.625rem;
  text-transform: uppercase;
  color: white;
  border-radius: 0.0625rem;
  font-family: "Poiret One", serif;
  cursor: pointer; }
  .player .audioplayer > div {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.3125rem; }
  .player .audioplayer .audioplayer-volume {
    display: none;
    margin: 0; }
  .player .audioplayer .audioplayer-bar {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 0.3125rem; }
    .player .audioplayer .audioplayer-bar .audioplayer-bar-loaded {
      border-bottom: 5px solid white;
      opacity: 0.2;
      position: absolute;
      top: 0; }
    .player .audioplayer .audioplayer-bar .audioplayer-bar-played {
      border-bottom: 5px solid white;
      position: absolute;
      opacity: 0.6;
      top: 0; }
  .player .audioplayer .audioplayer-time {
    opacity: 0.5;
    min-width: 6.25rem;
    text-align: left; }
  .player .audioplayer.audioplayer-playing .icon-play:before {
    content: "j"; }
  .player .audioplayer i {
    color: white; }
.player.medium {
  font-size: 1.875rem; }
  .player.medium .icon-play {
    display: block;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-top: 7px;
    padding-left: 3px;
    font-size: 1.375rem; }
  .player.medium .audioplayer-playing .icon-play {
    padding-left: 1px; }
  .player.medium .audioplayer-bar {
    display: none; }

section > .container {
  margin: 1.25rem;
  padding: 1.25rem; }
  section > .container header {
    margin-bottom: 1.25rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
    section > .container header > :first-child {
      margin: 0; }
    section > .container header .stamp {
      margin-left: 1.25rem;
      font-style: italic;
      font-size: 0.75rem; }
      section > .container header .stamp span {
        padding-right: 0.625rem; }
    section > .container header .icon-cancel {
      position: absolute;
      right: 1.25rem;
      top: 1.25rem;
      font-size: 1.875rem;
      cursor: pointer; }
  section > .container > [class*="column"] {
    -moz-column-width: 17.5rem;
    -webkit-column-width: 17.5rem;
    column-width: 17.5rem;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    font-size: 1rem; }
    section > .container > [class*="column"] > div {
      display: inline-block; }
    section > .container > [class*="column"][class*="-small"] {
      -moz-column-width: 11.25rem;
      -webkit-column-width: 11.25rem;
      column-width: 11.25rem; }

[class*="flex-column"] {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  [class*="flex-column"][class*="-middle"] {
    -webkit-align-items: center;
    align-items: center; }
  [class*="flex-column"][class*="-center"] {
    -webkit-justify-content: center;
    justify-content: center; }
  [class*="flex-column"][class*="-bottom"] {
    -webkit-align-items: flex-end;
    align-items: flex-end; }

i[class^="icon-"].big {
  font-size: 2.5rem; }
i[class^="icon-"].border {
  border: thin white solid;
  width: 20px;
  height: 20px; }

.bg > div {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  background-image: url(/media/img/bg-intro.jpg);
  opacity: 0;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s; }
  .bg > div.active, .bg > div.active-video {
    opacity: 1; }

.arrow:before {
  content: "";
  display: block;
  margin: auto;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 0.9375rem;
  height: 0.9375rem;
  border-right: 0.0625rem solid #fff;
  border-bottom: 0.0625rem solid #fff;
  opacity: 0.8;
  margin-left: -0.46875rem; }

.banner .arrow {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  width: 12.5rem;
  height: 3.75rem;
  margin-left: -6.25rem;
  cursor: pointer; }
  .banner .arrow:before {
    margin-left: 5.78125rem; }

[data-anchor="0-2-remerciement"] {
  font-family: "Poiret One", serif; }

[data-anchor="0-3-prologue"] .player {
  margin-bottom: 8.75rem; }

[data-anchor="0-1-instruction"] .content > div {
  margin: 0 1.875rem 1.25rem; }

.video-container {
  position: absolute;
  z-index: -1;
  top: 0; }

/*# sourceMappingURL=style.css.map */
