@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%; }

body {
  min-height: 100%;
  width: 100%;
  color: white;
  font-family: "Raleway", sans-serif;
  background-color: black; }

nav ul, aside ul {
  list-style: none;
  padding-left: 0; }

/* LINK BASIC */
a {
  color: white;
  text-decoration: none;
  font-weight: bold; }
  a:hover:not(.button), a.active {
    text-decoration: underline; }

button, .button {
  border: thin solid rgba(255, 255, 255, 0.6);
  background-color: transparent;
  padding: 0.3125rem 0.625rem;
  font-weight: normal;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  button:hover, .button:hover {
    background-color: rgba(17, 12, 8, 0.7);
    border-color: white; }

/* paragraphe and title basic */
h1, h2, h3, h4, h5, h6 {
  font-family: "Poiret One", serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 1; }

h1, .h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 1.875rem; }

.container {
  display: block; }
  .container.full {
    width: 100%; }

p {
  font-size: 1rem; }

.content p {
  line-height: 1.4;
  margin-bottom: 1.4em;
  margin-top: 1.4em; }
.content > *:first-child {
  margin-top: 0; }
.content > *:last-child {
  margin-bottom: 0; }

/* utilities class */
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.hide {
  display: none; }

.hidden {
  opacity: 0; }

@font-face {
  font-family: "book";
  src: url("../fonts/book.eot");
  src: url("../fonts/book.eot?#iefix") format("embedded-opentype"), url("../fonts/book.woff") format("woff"), url("../fonts/book.ttf") format("truetype"), url("../fonts/book.svg#book") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before,
[class^="icon-"]:before,
[class*=" icon-"]:before, .sweet-alert .sa-icon.sa-info::before {
  font-family: "book";
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-motorcycle:before {
  content: "\e0be"; }

.icon-to-start:before {
  content: "a"; }

.icon-to-end:before {
  content: "b"; }

.icon-right-dir:before {
  content: "d"; }

.icon-book-open:before {
  content: "e"; }

.icon-play:before {
  content: "i"; }

.icon-pause:before {
  content: "j"; }

.icon-marker:before {
  content: "k"; }

.icon-clock:before {
  content: "l"; }

.icon-pencil:before {
  content: "m"; }

.icon-volume-1:before {
  content: "r"; }

.icon-arrow-down:before {
  content: "s"; }

.icon-arrow-left:before {
  content: "t"; }

.icon-arrow-right:before {
  content: "u"; }

.icon-arrow-up:before {
  content: "v"; }

.icon-bookmark:before {
  content: "z"; }

.icon-map:before {
  content: "B"; }

.icon-sun:before {
  content: "C"; }

.icon-cancel:before {
  content: "F"; }

.icon-mute:before {
  content: "q"; }

.icon-heart:before {
  content: "n"; }

.icon-keyboard:before {
  content: "o"; }

.icon-soundcloud:before {
  content: "p"; }

.icon-bolt:before {
  content: "A"; }

.icon-cloud:before {
  content: "K"; }

/**
 * fullPage 2.6.6
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 * Contribution by Jhony0311
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none; }

.fp-section {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slide .slide-content {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  width: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  z-index: 4;
  top: 0;
  cursor: pointer;
  height: 100vh; }
  .fp-controlArrow:after {
    content: "";
    display: inline-block;
    margin: auto;
    opacity: 0.8;
    width: 2.5rem;
    height: 2.5rem;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff; }
  .fp-controlArrow.fp-prev {
    left: 0;
    margin-left: 1.25rem; }
    .fp-controlArrow.fp-prev:after {
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg); }
  .fp-controlArrow.fp-next {
    right: 0;
    margin-right: 1.25rem; }
    .fp-controlArrow.fp-next:after {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.fp-scrollable {
  overflow: scroll; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }
  .fp-slidesNav.bottom {
    bottom: 17px; }
  .fp-slidesNav.top {
    top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }
  #fp-nav ul li,
  .fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative; }
    #fp-nav ul li a,
    .fp-slidesNav ul li a {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none; }
      #fp-nav ul li a.active span,
      .fp-slidesNav ul li a.active span {
        height: 12px;
        width: 12px;
        margin: -6px 0 0 -6px;
        border-radius: 100%; }
        #fp-nav ul li:hover #fp-nav ul li a.active span, #fp-slidesNav ul li:hover #fp-nav ul li a.active span, #fp-nav ul li:hover
        .fp-slidesNav ul li a.active span, #fp-slidesNav ul li:hover
        .fp-slidesNav ul li a.active span {
          height: 12px;
          width: 12px;
          margin: -6px 0 0 -6px;
          border-radius: 100%; }
      #fp-nav ul li a span,
      .fp-slidesNav ul li a span {
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        height: 4px;
        width: 4px;
        border: 0;
        background: rgba(250, 250, 250, 0.6);
        left: 50%;
        top: 50%;
        margin: -2px 0 0 -2px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
    #fp-nav ul li:hover a span,
    .fp-slidesNav ul li:hover a span {
      width: 10px;
      height: 10px;
      margin: -5px 0px 0px -5px; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }
  #fp-nav.right {
    right: 17px; }
  #fp-nav.left {
    left: 17px; }
  #fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0; }
    #fp-nav ul li .fp-tooltip.right {
      right: 20px; }
  #fp-nav ul li:hover .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }
  #fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }

.fp-slidesNav ul li {
  display: inline-block; }

.fp-auto-height {
  height: auto; }

body.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

.sweet-alert {
  background-color: black;
  width: 478px;
  padding: 17px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }
  @media all and (max-width: 540px) {
    .sweet-alert {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      left: 15px;
      right: 15px; } }
  .sweet-alert h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block; }
  .sweet-alert p {
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal; }
  .sweet-alert fieldset {
    border: none;
    position: relative; }
  .sweet-alert .sa-error-container {
    background-color: #f1f1f1;
    margin-left: -17px;
    margin-right: -17px;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    webkit-transition: padding 0.15s, max-height 0.15s;
    transition: padding 0.15s, max-height 0.15s; }
    .sweet-alert .sa-error-container.show {
      padding: 10px 0;
      max-height: 100px;
      webkit-transition: padding 0.2s, max-height 0.2s;
      transition: padding 0.25s, max-height 0.25s; }
    .sweet-alert .sa-error-container .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #ea7d7d;
      color: white;
      line-height: 24px;
      text-align: center;
      margin-right: 3px; }
    .sweet-alert .sa-error-container p {
      display: inline-block; }
  .sweet-alert .sa-input-error {
    position: absolute;
    top: 29px;
    right: 26px;
    width: 20px;
    height: 20px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
    .sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
      content: "";
      width: 20px;
      height: 6px;
      background-color: #f06e57;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      left: 50%;
      margin-left: -9px; }
    .sweet-alert .sa-input-error::before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .sweet-alert .sa-input-error::after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .sweet-alert .sa-input-error.show {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); }
  .sweet-alert input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    padding: 0 12px;
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .sweet-alert input:focus {
      outline: none;
      box-shadow: 0px 0px 3px #c4e6f5;
      border: 1px solid #b4dbed; }
      .sweet-alert input:focus::-moz-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
      .sweet-alert input:focus:-ms-input-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
      .sweet-alert input:focus::-webkit-input-placeholder {
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
    .sweet-alert input::-moz-placeholder {
      color: #bdbdbd; }
    .sweet-alert input:-ms-input-placeholder {
      color: #bdbdbd; }
    .sweet-alert input::-webkit-input-placeholder {
      color: #bdbdbd; }
  .sweet-alert.show-input input {
    display: block; }
  .sweet-alert .sa-confirm-button-container {
    display: inline-block;
    position: relative; }
  .sweet-alert .la-ball-fall {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: 4px;
    opacity: 0;
    visibility: hidden; }
  .sweet-alert button {
    background-color: white;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer; }
    .sweet-alert button:focus {
      outline: none;
      box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
    .sweet-alert button:hover {
      background-color: #f7f7f7; }
    .sweet-alert button:active {
      background-color: #e6e6e6; }
    .sweet-alert button.cancel {
      background-color: #555555; }
      .sweet-alert button.cancel:hover {
        background-color: #4d4d4d; }
      .sweet-alert button.cancel:active {
        background-color: #3b3b3b; }
      .sweet-alert button.cancel:focus {
        box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.04706) 0px 0px 0px 1px inset !important; }
    .sweet-alert button[disabled] {
      opacity: .6;
      cursor: default; }
    .sweet-alert button.confirm[disabled] {
      color: transparent; }
      .sweet-alert button.confirm[disabled] ~ .la-ball-fall {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s; }
    .sweet-alert button::-moz-focus-inner {
      border: 0; }
  .sweet-alert[data-has-cancel-button=false] button {
    box-shadow: none !important; }
  .sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
    padding-bottom: 40px; }
  .sweet-alert .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box; }
    .sweet-alert .sa-icon.sa-error {
      border-color: #F27474; }
      .sweet-alert .sa-icon.sa-error .sa-x-mark {
        position: relative;
        display: block; }
      .sweet-alert .sa-icon.sa-error .sa-line {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: #F27474;
        display: block;
        top: 37px;
        border-radius: 2px; }
        .sweet-alert .sa-icon.sa-error .sa-line.sa-left {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          left: 17px; }
        .sweet-alert .sa-icon.sa-error .sa-line.sa-right {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          right: 16px; }
    .sweet-alert .sa-icon.sa-warning {
      border-color: #F8BB86; }
      .sweet-alert .sa-icon.sa-warning .sa-body {
        position: absolute;
        width: 5px;
        height: 47px;
        left: 50%;
        top: 10px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #F8BB86; }
      .sweet-alert .sa-icon.sa-warning .sa-dot {
        position: absolute;
        width: 7px;
        height: 7px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-left: -3px;
        left: 50%;
        bottom: 10px;
        background-color: #F8BB86; }
    .sweet-alert .sa-icon.sa-info {
      border: none;
      height: auto; }
      .sweet-alert .sa-icon.sa-info::before {
        font-size: 2.5rem;
        content: "e"; }
    .sweet-alert .sa-icon.sa-success {
      border-color: #A5DC86; }
      .sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
        content: '';
        -webkit-border-radius: 40px;
        border-radius: 40px;
        border-radius: 50%;
        position: absolute;
        width: 60px;
        height: 120px;
        background: white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .sweet-alert .sa-icon.sa-success::before {
        -webkit-border-radius: 120px 0 0 120px;
        border-radius: 120px 0 0 120px;
        top: -7px;
        left: -33px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 60px 60px;
        transform-origin: 60px 60px; }
      .sweet-alert .sa-icon.sa-success::after {
        -webkit-border-radius: 0 120px 120px 0;
        border-radius: 0 120px 120px 0;
        top: -11px;
        left: 30px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0px 60px;
        transform-origin: 0px 60px; }
      .sweet-alert .sa-icon.sa-success .sa-placeholder {
        width: 80px;
        height: 80px;
        border: 4px solid rgba(165, 220, 134, 0.2);
        -webkit-border-radius: 40px;
        border-radius: 40px;
        border-radius: 50%;
        box-sizing: content-box;
        position: absolute;
        left: -4px;
        top: -4px;
        z-index: 2; }
      .sweet-alert .sa-icon.sa-success .sa-fix {
        width: 5px;
        height: 90px;
        background-color: white;
        position: absolute;
        left: 28px;
        top: 8px;
        z-index: 1;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .sweet-alert .sa-icon.sa-success .sa-line {
        height: 5px;
        background-color: #A5DC86;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 2; }
        .sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
          width: 25px;
          left: 14px;
          top: 46px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .sweet-alert .sa-icon.sa-success .sa-line.sa-long {
          width: 47px;
          right: 8px;
          top: 38px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    .sweet-alert .sa-icon.sa-custom {
      background-size: contain;
      border-radius: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat; }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@-webkit-keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }
@keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }
@-webkit-keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }
@keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }
@-webkit-keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }
@keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }
@-webkit-keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }
@keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }
.showSweetAlert[data-animation=pop] {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }
.showSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }
.showSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideFromTop 0.3s;
  animation: slideFromTop 0.3s; }
.showSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideFromBottom 0.3s;
  animation: slideFromBottom 0.3s; }

.hideSweetAlert[data-animation=pop] {
  -webkit-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s; }
.hideSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }
.hideSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideToTop 0.4s;
  animation: slideToTop 0.4s; }
.hideSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideToBottom 0.3s;
  animation: slideToBottom 0.3s; }

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }
@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }
@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }
@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }
.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }
.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }
.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s; }

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }
@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }
.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }
@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }
.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate; }

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes rotate-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* GENERAL BODY */
body {
  overflow-x: hidden !important; }

/* HEADER */
header.main {
  position: fixed;
  top: 0;
  z-index: 100; }
  header.main hgroup {
    display: none; }
  header.main nav {
    font-size: 1.125rem;
    width: 100vw;
    padding-right: 0.3125rem; }
    header.main nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
    header.main nav li a {
      display: inline-block;
      padding: 0 1.25rem;
      color: white;
      opacity: 0.6;
      white-space: nowrap;
      font-weight: normal;
      -moz-transition: opacity 0.4s;
      -o-transition: opacity 0.4s;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s; }
      header.main nav li a:hover, header.main nav li a.active {
        color: white;
        opacity: 1;
        text-decoration: none; }
      header.main nav li a.loading {
        padding-top: 2px; }
        header.main nav li a.loading i {
          opacity: 0; }
        header.main nav li a.loading:before {
          display: block;
          padding-top: 2px;
          content: "";
          width: 0.9375rem;
          height: 0.9375rem;
          border-bottom: 0.15625rem solid transparent;
          border-left: 0.15625rem solid white;
          border-right: 0.15625rem solid white;
          border-top: 0.15625rem solid white;
          border-radius: 100%;
          -webkit-animation: spin 0.6s infinite linear;
          animation: spin 0.6s infinite linear; }
    header.main nav.main li:not(.arrow) {
      position: relative;
      z-index: 10; }
    header.main nav.main a:hover {
      color: white;
      opacity: 1; }
    header.main nav.chapitres, header.main nav.player-soundcloud {
      display: none;
      opacity: 0;
      position: absolute;
      top: 50px;
      padding-right: 0.9375rem; }
      header.main nav.chapitres ul, header.main nav.player-soundcloud ul {
        margin: 0.3125rem 0; }
      header.main nav.chapitres li, header.main nav.player-soundcloud li {
        max-width: 100%;
        overflow: hidden; }
        header.main nav.chapitres li a, header.main nav.player-soundcloud li a {
          padding: 0 0.625rem; }
  header.main a[href="#close"] {
    display: none;
    background-color: black;
    padding: 0.625rem 0.625rem 0.3125rem 0.625rem;
    margin-right: 1.25rem; }
  header.main.closed nav.main a {
    display: none; }
    header.main.closed nav.main a[href="#close"] {
      display: block; }

.banner {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: relative;
  text-align: center; }
  .banner .viking {
    margin-bottom: 1.25rem;
    margin-top: auto; }
    .banner .viking img {
      max-width: 400px;
      width: 30vw;
      margin-top: -4.375rem; }
  .banner .page-title {
    position: relative;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 13px 0 10px;
    line-height: 1;
    display: inline-block;
    z-index: 1;
    border-bottom: 1px solid rgba(250, 250, 250, 0.8);
    margin-bottom: 0;
    margin-top: -0.3125rem; }
  .banner .page-description {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    z-index: 1;
    position: relative; }

main {
  overflow: hidden; }

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1.25rem; }
  @media (min-width: 768px) {
    .container {
      width: 45rem; } }
  @media (min-width: 992px) {
    .container {
      width: 58.75rem; } }
  @media (min-width: 1200px) {
    .container {
      width: 71.25rem; } }
  @media (min-width: 768px) {
    .container.medium {
      width: 42.5rem; } }
  @media (min-width: 992px) {
    .container.medium {
      width: 39.16667rem; } }
  @media (min-width: 1200px) {
    .container.medium {
      width: 47.5rem; } }
  @media (min-width: 768px) {
    .container.small {
      width: 42.5rem; } }
  @media (min-width: 992px) {
    .container.small {
      width: 29.375rem; } }
  @media (min-width: 1200px) {
    .container.small {
      width: 35.625rem; } }
  .container.closed .icon-cancel:before {
    content: "e"; }

footer.main {
  min-height: 9.375rem; }

.col-1 {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1; }

.col-2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2; }

.col-3 {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3; }

.col-4 {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4; }

.col-5 {
  -moz-column-count: 5;
  -webkit-column-count: 5;
  column-count: 5; }

.col-6 {
  -moz-column-count: 6;
  -webkit-column-count: 6;
  column-count: 6; }

.col-7 {
  -moz-column-count: 7;
  -webkit-column-count: 7;
  column-count: 7; }

.col-8 {
  -moz-column-count: 8;
  -webkit-column-count: 8;
  column-count: 8; }

.col-9 {
  -moz-column-count: 9;
  -webkit-column-count: 9;
  column-count: 9; }

.col-10 {
  -moz-column-count: 10;
  -webkit-column-count: 10;
  column-count: 10; }

.col-11 {
  -moz-column-count: 11;
  -webkit-column-count: 11;
  column-count: 11; }

.col-12 {
  -moz-column-count: 12;
  -webkit-column-count: 12;
  column-count: 12; }

.map {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  -webkit-transition: max-height 0.4s;
  transition: max-height 0.4s; }
  .map.loading, .map:not(.active) {
    max-height: 0vh; }
  .map .acf-map {
    width: 100vw;
    height: 100vh; }

.player a:hover {
  text-decoration: none; }
.player p:first-child {
  margin: 0; }
.player .audioplayer {
  display: inline-block;
  text-align: center;
  padding: 0.625rem 1.25rem;
  line-height: 0.625rem;
  text-transform: uppercase;
  color: white;
  border-radius: 0.0625rem;
  font-family: "Poiret One", serif;
  cursor: pointer; }
  .player .audioplayer > div {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.3125rem; }
  .player .audioplayer .audioplayer-volume {
    display: none;
    margin: 0; }
  .player .audioplayer .audioplayer-bar {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 0.3125rem; }
    .player .audioplayer .audioplayer-bar .audioplayer-bar-loaded {
      border-bottom: 5px solid white;
      opacity: 0.2;
      position: absolute;
      top: 0; }
    .player .audioplayer .audioplayer-bar .audioplayer-bar-played {
      border-bottom: 5px solid white;
      position: absolute;
      opacity: 0.6;
      top: 0; }
  .player .audioplayer .audioplayer-time {
    opacity: 0.5;
    min-width: 6.25rem;
    text-align: left; }
  .player .audioplayer.audioplayer-playing .icon-play:before {
    content: "j"; }
  .player .audioplayer i {
    color: white; }
.player.medium {
  font-size: 1.875rem; }
  .player.medium .icon-play {
    display: block;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-top: 7px;
    padding-left: 3px;
    font-size: 1.375rem; }
  .player.medium .audioplayer-playing .icon-play {
    padding-left: 1px; }
  .player.medium .audioplayer-bar {
    display: none; }

.video-control {
  border: none;
  display: -webkit-flex;
  display: flex;
  padding: 0.625rem 0.9375rem;
  text-transform: uppercase;
  font-family: "Poiret One", serif;
  cursor: pointer; }
  .video-control:before {
    text-transform: initial;
    font-family: 'book';
    content: 'i';
    display: block;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-top: 3px;
    padding-left: 3px;
    font-size: 1.375rem;
    margin-right: 0.625rem; }
  .video-control.active:before {
    content: 'j';
    padding-left: 0; }

section > .container, .slide-content > .container {
  margin: 1.25rem;
  padding: 1.25rem; }
  section > .container header, .slide-content > .container header {
    margin-bottom: 1.25rem;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
    section > .container header > :first-child, .slide-content > .container header > :first-child {
      margin: 0; }
    section > .container header .stamp, .slide-content > .container header .stamp {
      margin-left: 1.25rem;
      font-style: italic;
      font-size: 0.75rem; }
      section > .container header .stamp span, .slide-content > .container header .stamp span {
        padding-right: 0.625rem; }
    section > .container header .icon-cancel, .slide-content > .container header .icon-cancel {
      position: absolute;
      right: 1.25rem;
      top: 1.25rem;
      font-size: 1.875rem;
      cursor: pointer; }
  section > .container > [class*="column"], .slide-content > .container > [class*="column"] {
    -moz-column-width: 17.5rem;
    -webkit-column-width: 17.5rem;
    column-width: 17.5rem;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    font-size: 1rem;
    -moz-column-fill: auto; }
    section > .container > [class*="column"] > div, .slide-content > .container > [class*="column"] > div {
      display: inline-block; }
    section > .container > [class*="column"][class*="-small"], .slide-content > .container > [class*="column"][class*="-small"] {
      -moz-column-width: 11.25rem;
      -webkit-column-width: 11.25rem;
      column-width: 11.25rem; }

[class*="flex-column"] {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  [class*="flex-column"][class*="-middle"] {
    -webkit-align-items: center;
    align-items: center; }
  [class*="flex-column"][class*="-center"] {
    -webkit-justify-content: center;
    justify-content: center; }
  [class*="flex-column"][class*="-bottom"] {
    -webkit-align-items: flex-end;
    align-items: flex-end; }

i[class^="icon-"].big {
  font-size: 2.5rem; }
i[class^="icon-"].border {
  border: thin white solid;
  width: 20px;
  height: 20px; }

.bg {
  position: relative; }
  .bg > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    background-image: url(/media/img/bg-intro.jpg);
    opacity: 0;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s; }
    .bg > div.active {
      opacity: 1; }
    .bg > div.active-video {
      opacity: 1;
      z-index: 0; }

.arrow {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 3.75rem;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s; }
  .arrow:hover, .arrow.active, .arrow.loading {
    opacity: 1; }
  .arrow.unactive {
    opacity: 0;
    cursor: auto; }
  .arrow:after {
    content: "";
    display: inline-block;
    margin: auto;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    width: 0.9375rem;
    height: 0.9375rem;
    border-right: 0.0625rem solid #fff;
    border-bottom: 0.0625rem solid #fff;
    opacity: 0.8;
    margin-left: -0.46875rem; }
  .arrow.up {
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    padding-top: 1.5625rem; }
    .arrow.up:after {
      transform: rotate(-135deg); }
  .arrow.loading:after {
    opacity: 0; }
  .arrow.loading:before {
    content: "";
    display: inline-block;
    content: "";
    width: 0.9375rem;
    height: 0.9375rem;
    border-bottom: 0.15625rem solid transparent;
    border-left: 0.15625rem solid white;
    border-right: 0.15625rem solid white;
    border-top: 0.15625rem solid white;
    border-radius: 100%;
    -webkit-animation: spin 0.6s infinite linear;
    animation: spin 0.6s infinite linear; }

.banner .clear-intro {
  margin-top: auto;
  width: 100vh;
  height: 1px; }

[data-anchor="0-1-instruction"] .container {
  padding-bottom: 3.75rem; }
[data-anchor="0-1-instruction"] .instruction {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  [data-anchor="0-1-instruction"] .instruction > div {
    min-width: 18.75rem;
    margin: 0.625rem 1%; }

[data-anchor="0-2-remerciement"] {
  font-family: "Poiret One", serif; }

[data-anchor="0-3-prologue"] .player {
  margin-bottom: 8.75rem; }

[data-anchor="0-1-instruction"] .content > div {
  margin: 0 1.875rem 1.25rem; }

.social .container img {
  padding: 1.25rem; }
.social .content:first-child {
  margin-top: 0; }

.video-container {
  position: absolute;
  z-index: -1;
  top: 0; }

.soundcloud-player iframe {
  opacity: 0;
  position: absolute;
  top: -100vh; }

a[href="#son"]:not(.active) i:before {
  content: "q"; }

/*# sourceMappingURL=style.css.map */
