// element.scss
//

@for $i from 1 through $grid-columns {
  .col-#{$i} { @include column-count($i);}
}

.map{
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  @include single-transition(max-height, .4s);

  &.loading, &:not(.active){
    max-height: 0vh;
  }

  .acf-map{
  	width: 100vw;
  	height: 100vh;
  }
}

.player{
	//text-align: center;
	//
	a:hover{
		text-decoration: none;
	}
	
	p:first-child{
		margin: 0;
	}

	.audioplayer{
		display: inline-block;
		text-align: center;
		padding: $gutter $gutter-large;
		line-height: $gutter;
		text-transform: uppercase;
		color: white;
		border-radius: $one;
		font-family: $title-font;
		cursor: pointer;

		> div{
		   display: inline-block;
		   vertical-align: middle;
		   margin: 0 $gutter-small;
		}

		.audioplayer-volume{
			display: none;
			margin: 0;
		}
		
		.audioplayer-bar{
			display: block;
			width: 100%;
			position: relative;
			margin-top: $gutter-small;

			.audioplayer-bar-loaded{
				border-bottom: 5px solid white;
				opacity: 0.2;
				position: absolute;
				top: 0;
			}

			.audioplayer-bar-played{
				border-bottom: 5px solid white;
				position: absolute;
				opacity: 0.6;
				top: 0;
			}
		}


		.audioplayer-time{
			opacity: 0.5;
			min-width: rem-calc(100);
			text-align: left;
			// font-size: $ft-size-small;
		}

		&.audioplayer-playing{
			.icon-play:before{
				content: "j";
			}
		}

		i{
			color: white;
		}
	}

	&.medium{
		font-size: $ft-size-big;

		.icon-play{
			display: block;
			color: white;
			border: 2px solid white;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			padding-top: 7px;
			padding-left: 3px;
			font-size: $ft-size-largest;
			// margin-right: $gutter;
		}

		.audioplayer-playing .icon-play{
			padding-left: 1px;
		}

		.audioplayer-bar{
		   display: none;
		}
	}
}

.video-control{
	border: none;
	@include display-flex;
	padding: $gutter $gutter-medium;
	text-transform: uppercase;
	font-family: $title-font;
	cursor: pointer;

	&:before{
		text-transform: initial;
		font-family: 'book';
		content: 'i';
		display: block;
		color: white;
		border: 2px solid white;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		padding-top: 3px;
		padding-left: 3px;
		font-size: $ft-size-largest;
		margin-right: $gutter;
	}

	&.active:before{
		content: 'j';
		padding-left: 0;
	}
}

.player-youtube{
	max-width: 100vw;
	max-height: 100vh;
	padding:  0 $gutter-large;
	
	.player-container{
		@include flex(1);
		position: relative;
		min-width: rem-calc(300);

		iframe{
			max-width: 100%;
			// height: auto;
		}
	}

	&.loading .player-container:before{
		content: "Chargement de la vidéo";
		width: 100%;
		position: absolute;
		text-align: center;
		top: 49%;
	}

	.talks{
		max-width: 0;
		overflow: hidden;

		> div{
			width: rem-calc(300);
			margin-left: $gutter;
		}

		.title{
			h4{
				margin-bottom: 0;
			}
			margin-bottom: $gutter;
		}

		.talk{
			max-height: 0;
			overflow: hidden;
			margin-bottom: $gutter;

			small{
				opacity: 0.5;
			}
			p{
				padding-left: $gutter;
				border-left: thin solid white;
				margin: 0;
			}
		}
	}
}

section > .container, .slide-content > .container{
	margin: $gutter-large;
	padding: $gutter-large;
	// overflow-y: auto;
	// max-height: 90vh;

	header{
		margin-bottom: $gutter-large;
		@include display-flex;
		@include align-items(center);

		>:first-child{
			margin: 0;
		}

		.stamp{
			margin-left: $gutter-large;
			font-style: italic;
			font-size: $ft-size-normal;

			span{
				padding-right: $gutter;
			}
		}

		.icon-cancel{
			position: absolute;
			right: $gutter-large;
			top: $gutter-large;
			font-size: $ft-size-big;
			cursor: pointer;
		}
	}

	> [class*="column"]{
		@include column-width(rem-calc(280));
		@include column-break(inside, avoid);
		font-size: $ft-size-large;
		-moz-column-fill: auto;

		> div{
			display: inline-block;
		}

		&[class*="-small"]{
			@include column-width(rem-calc(180));
		}
	}

	blockquote{
	    // text-shadow: 2px 2px #000000;
	}
}

[class*="flex-column"]{
	@include display-flex;
	@include flex-direction(row);
	max-width: 100%;

	&[class*="-middle"]{
		@include align-items(center);
	}

	&[class*="-center"]{
		@include justify-content(center);
	}
	
	&[class*="-bottom"]{
		@include align-items(flex-end);
	}
}

i[class^="icon-"]{

	&.big{
		font-size: $ft-size-hudge;
	}

	&.border{
		border: thin white solid;
		width: 20px;
		height: 20px;
	}
}

.bg{
	position: relative;

	> div{
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-size: cover;
		background-position: center center;
		background-image: url(/media/img/bg-intro.jpg);
		opacity: 0;

		@include single-transition(opacity, .6s);
		
		&.active{
			opacity: 1;
		}
		&.active-video{
			opacity: 1;
			z-index: 0;
		}
	}
}

.arrow, %arrow{
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: rem-calc(60);
	cursor: pointer;
	text-align: center;
	opacity: 0;
	@include single-transition(opacity, 0.4s);
	
	&:hover, &.active, &.loading{
		opacity: 1;
	}

	&.unactive{
		opacity: 0;
		cursor: auto;
	}

	&:after{
		content: "";
		display: inline-block;
		margin: auto;
		@include transform(rotate(45deg));
		transform: rotate(45deg);
		width: $gutter-medium;
		height: $gutter-medium;
		border-right: $one solid #fff;
		border-bottom: $one solid #fff;
		opacity: 0.8;
		margin-left: -($gutter-medium/2);
	}

	&.up{
		position: absolute;
		z-index: 5;
		left: 0;
		top: 0;
		padding-top: rem-calc(25);

		&:after{
			transform: rotate(-135deg);
		}
	}

	&.loading{
		&:after{
			opacity: 0;
		}
		&:before{
			content: "";
			display: inline-block;
			@include loading();
		}
	}
}

.tooltip{
  text-align: center;
  color: #fff;
  background: #111;
  position: absolute;
  z-index: 100;
  padding: 15px;
 
	&:after{
		/* triangle decoration */
    width: 0;
    height: 0;
    border-left: $gutter solid transparent;
    border-right: $gutter solid transparent;
    border-top: $gutter solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -($gutter);
    margin-left: -($gutter);
	}

  &.top:after
  {
      border-top-color: transparent;
      border-bottom: $gutter solid #111;
      top: -($gutter-large);
      bottom: auto;
  }

  &.left:after
  {
      left: $gutter;
      margin: 0;
  }

  &.right:after
  {
      right: 10px;
      left: auto;
      margin: 0;
  }
}