@include font-face-bb('book', '../fonts/book');

[data-icon]:before,
[class^="icon-"]:before,
[class*=" icon-"]:before, %icon {
  font-family: "book";
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-motorcycle:before {
  content: "\e0be";
}
.icon-to-start:before {
  content: "a";
}
.icon-to-end:before {
  content: "b";
}
.icon-right-dir:before {
  content: "d";
}
.icon-book-open:before {
  content: "e";
}
.icon-play:before {
  content: "i";
}
.icon-pause:before {
  content: "j";
}
.icon-marker:before {
  content: "k";
}
.icon-clock:before {
  content: "l";
}
.icon-pencil:before {
  content: "m";
}
.icon-volume-1:before {
  content: "r";
}
.icon-arrow-down:before {
  content: "s";
}
.icon-arrow-left:before {
  content: "t";
}
.icon-arrow-right:before {
  content: "u";
}
.icon-arrow-up:before {
  content: "v";
}
.icon-bookmark:before {
  content: "z";
}
.icon-map:before {
  content: "B";
}
.icon-sun:before {
  content: "C";
}
.icon-cancel:before {
  content: "F";
}
.icon-mute:before {
  content: "q";
}
.icon-heart:before {
  content: "n";
}
.icon-keyboard:before {
  content: "o";
}
.icon-soundcloud:before {
  content: "p";
}
.icon-bolt:before {
  content: "A";
}
.icon-cloud:before {
  content: "K";
}
