/* GENERAL BODY */

body{
  overflow-x: hidden !important;
}

/* HEADER */

header.main{
  position: fixed;
  top: 0;
  z-index: 100;

  hgroup{
    display: none;
  }

  nav{
    font-size: $ft-size-larger;
    width: 100vw;
    padding-right: $gutter-small;
    padding-bottom: $gutter-large;

    ul{
      @include display-flex;
      @include justify-content(flex-end);
      @include flex-wrap(wrap);
    }

    li a{
      display: inline-block;
      padding: 0 $gutter-large;
      color: white;
      opacity: 0.6;
      white-space: nowrap;
      @include single-transition(opacity, .4s);

      &:hover,&.active{
        color: white;
        opacity: 1;
      }

      &.loading{
        padding-top: 2px;
        i{
          opacity: 0;
        }
        &:before{
          display: block;
          padding-top: 2px;
          @include loading();
        }
      }
    }
    &.main{
      a:hover{
        color: white;
        opacity: 1;
      }
    }

    &.chapitres, &.player-soundcloud{
      display: none;
      opacity: 0;
      position: absolute;
      top: 50px;
      padding-right: $gutter-medium;

      ul{
        margin: $gutter-small 0;
      }
      li{
        max-width: 100%;
        overflow: hidden;

        a{
          padding: 0 $gutter;
        }
      }
    }
  }

  a[href="#close"] {
    display: none;
    background-color: black;
    padding: $gutter $gutter $gutter-small $gutter;
    margin-right: $gutter-large;
  }

  &.closed{
    nav.main a{ 
      display: none;
    
      &[href="#close"] {
        display: block;
      }
    }

  }

}

.banner {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: relative;
  text-align: center;

	.viking{
    margin-bottom: $gutter-large;
		margin-top: auto;

		img {
	    max-width: 400px;
	    width: 30vw;
      margin-top: -(rem-calc(70));
	  }
	}

	.page-title {
    position: relative;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 13px 0 10px;
    line-height: 1;
    display: inline-block;
    z-index: 1;
    border-bottom: 1px solid rgba(250, 250, 250, 0.8);
    margin-bottom: 0;
    margin-top: -($gutter-small);
	}

	.page-description {
    font-size: $ft-size-larger;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    z-index: 1;
    position: relative;
	}

  
}

main{
  overflow: hidden;
}

.container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: $gutter-large;

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }

  &.closed{
    .icon-cancel:before{
      content: "e";
    }
  }
}

footer.main{
  height: 400px !important;
  background-color: black;
}