// page

.banner{
	.arrow{
		width: 100vw;
		height: rem-calc(60);
		margin-top: auto;
		cursor: pointer;
		text-align: center;
	}
}

[data-anchor="0-2-remerciement"] {
	font-family: $title-font;
}

[data-anchor="0-3-prologue"]{
	 .player{
	 	margin-bottom: rem-calc(140);
	 }
}

[data-anchor="0-1-instruction"]{
	.content > div{
		margin: 0 $gutter-big $gutter-large;
	}
}

.social{
	.container img{
		padding: $gutter-large;
	}

	.content:first-child{
		margin-top: 0;
	}
}