// page

.banner{
	.arrow{
		position: absolute;
		bottom: $gutter-large;
		left: 50%;
	}
}

[data-anchor="remerciement"] {
	font-family: $title-font;
}

[data-anchor="prologue"]{
	 .player{
	 	margin-bottom: rem-calc(120);
	 }
}