// page

.banner{
	.arrow{
		position: absolute;
		bottom: $gutter-large;
		left: 50%;
		width: rem-calc(200);
		height: rem-calc(60);
		margin-left: -(rem-calc(100));
		cursor: pointer;

		&:before{
			margin-left: rem-calc(100) - ($gutter-medium/2);
		}
	}
}

[data-anchor="0-2-remerciement"] {
	font-family: $title-font;
}

[data-anchor="0-3-prologue"]{
	 .player{
	 	margin-bottom: rem-calc(140);
	 }
}

[data-anchor="0-1-instruction"]{
	.content > div{
		margin: 0 $gutter-big $gutter-large;
	}
}